body{background-color:white;
     width: 1180px;}

header{font-size: 50px;
       text-align: center;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

input{text-align: center;
      word-break: break-all;
      white-space: pre-wrap;
      overflow-wrap: break-word;
      width: 1030px;
      background-color: white;
      border-radius: 5px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size:larger;
      position: relative;
      left: 260px;
      top: -110px;}

button{background-color:#A8E0FF99;
       color: black;
       border-radius: 10px;
       font-size:large;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       position: relative;
       left: 260px;
       top: -110px;}

h1{position: relative;
       left: 280px;
       top: -110px;}

.typewriter h4 {overflow: hidden;
                white-space: nowrap; 
                text-wrap:nowrap ;
                margin: 0 auto; 
                font-size: 15px;
                letter-spacing: .10em; 
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;}

@keyframes typing {  from { width: 0 }  to { width: 100% }}

#box1{background-color:#0672cb;
      color:#ffffff;
      position: relative;
      width: 1545px;
      top: -15px;}

#box2{background-color: #0078d4;
      color: #ffffff;
      height: 35px;
      align-items: center;
      justify-content: center;
      position: relative;
      top: -15px;
      width: 1545px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

#box3{width: 230px;
       position: absolute;
       background-color: #A8E0FF99;
       border-radius: 25px;
       border-width: 5px;
       border-color: black;
       border-width:1px;
       height: 150px;
       border-style:solid;
       text-align: center;
       top: 160px;
       word-wrap: break-word;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

#box4{background-image: url("Pic.jpg");
       background-size: contain;
       background-repeat: no-repeat;
       width: 240px;
       height: 340px;
       position: absolute;
       top: 340px;}

textarea{position: absolute;
       width: 1030px;
       height: 100px;
       background-color: white;
       border-radius: 5px;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-size:larger;
       position: relative;
       left: 260px;
       top: -110px;}